@font-face {
	font-family: 'GothamBook';
	src: url('../../fonts/text-fonts/gotham-book/GothamBook.eot');
	src: local(GothamBook), url('../../fonts/text-fonts/gotham-book/GothamBook.woff') format('woff'), url('../../fonts/text-fonts/gotham-book/GothamBook.ttf') format('truetype');
}

body{
	margin:0;
	padding:0;
	font-family:trebuchet ms;
	font-weight:100;
	text-align:center;	
	overflow:hidden;		
	background:url(../../imgs/login/area-cli-new.gif)no-repeat center;
	background-size:cover;
	background-position:-50px 0;	
	/*
	background:url(../../imgs/login/skin.jpg)no-repeat center;
	background-size:cover;		
	background-color:rgba(177, 203, 245, 0.16);					
	*/
	/*
	background-color:rgb(42, 44, 53);
	*/
}
.back_box{
	display:inline-block;
	position:fixed;
	left:0;
	top:0;
	z-index:-1;
	width:100%;
	height:100%;		
	background-color:rgba(18, 23, 19, 0.87);	
}
#form_login{
	display:inline-block;	
	width:300px;
	max-width:95%;
	height:345px;
	background-color:#FFF;
	padding:10px;
	margin:10% 0 0 0;
	border-radius:3px;
	position:relative;
}
#form_login ul{
	display:inline-block;
	width:90%;
	margin:0;
	padding:25px 0 30px 0;	
}
#form_login li{
	display:inline-block;
	width:100%;
	margin:0 0 10px 0;
}
#form_login .title{
	display:inline-block;
	width:100%;
	height:50px;
	padding:0px 0 60px 0;
	font-size:28px;
	background-color:#;
	border-radius:;
}
#form_login .title .img{
	display:inline-block;	
}
#form_login label{
	display:inline-block;
	background-color:rgba(57, 157, 236, 0.05);
	border-radius:3px 0 0 3px;
	border:1px solid #d1dae2;
	border-right:0;
	width:20%;
	height:45px;
	float:left;	
	position:relative;
	overflow:hidden;
}
#form_login label:after{
	content:"";
	background-color:rgba(101, 155, 197, 0.07);
	width:100%;
	height:50px;
	position:absolute;
	right:0;
	margin:25px 0 0 0;
	transform:skew(0deg,-50deg);
	-ms-transform:skew(0deg,-50deg); /* IE 9 */
	-webkit-transform:skew(0deg,-50deg); /* Safari and Chrome */
}
#form_login label:hover{
	background-color:rgba(57, 157, 236, 0.05);
}
#form_login label:hover .icon{
	color:#000;
}
#form_login label span{
	display:inline-block;
}
#form_login label .text{
	display:none;
}
#form_login label .icon{	
	margin:11px 0 0 0;
	font-size:21px;
	color:#172631e0;
}
#form_login input{
	display:inline-block;
	width:79%;
	float:left;
	border:1px solid #d1dae2;
	border-radius:0 3px 3px 0;
	height:47px;
	padding:0 0 0 10px;
	font-family:trebuchet ms;
	font-size:14px;
	outline:none;
	color:#18191b;	
}
#form_login input:hover{
	background-color:rgba(232, 242, 251, 0.4);
}
#form_login input:focus{
	background-color:rgba(232, 242, 251, 0.4);
}
#form_login .form_footer{
	display:inline-block;
	width:100%;
	padding:0px 0 12px 0;
	background-color:;
	position:absolute;
	bottom:0;
	left:0;
	border-radius:0 0 3px 3px;
	border-top:1px solid rgba(255,255,255,0.1);
}
#form_login .form_footer .author{
	display:inline-block;
	width:85%;
	font-size:11px;
	color:#b8bec3;
	text-align:right;
	padding:15px 0 5px 0;
	border-top:1px solid rgba(0,0,0,0.09);
	margin:0 0 0 0;
}
#form_login .form_footer .author a{
	text-decoration:none;
	color:#b8bec3;
}
#form_login .form_footer .author a:hover{
	color:#000;
}
#form_login button{
	display:inline-block;
	float:right;
	margin:0 25px 0 0;
	border:0px solid #48a1e8;
	border-radius:2px;
	background-color:#40a4f3;
	padding:15px;
	width:100px;
	cursor:pointer;
	color:#FFF;
	overflow:hidden;
	position:relative;
}
#form_login button:after{
	content:"";
	background-color:rgba(255, 255, 255, 0.1);
	width:100%;
	height:150px;
	position:absolute;
	right:0;
	margin:10px 0 0 0;
	transform:skew(0deg,-40deg);
	-ms-transform:skew(0deg,-40deg); /* IE 9 */
	-webkit-transform:skew(0deg,-40deg); /* Safari and Chrome */
}
#form_login button:hover{
	background-color:#61b7fb;
}
#form_login button span{
	display:inline-block;	
}
#form_login button .icon{
	margin:0 0 0 -5px;
	float:right;
}
#form_login button .text{
	color:#FFF;
	text-transform:uppercase;
	font-size:11px;
	font-weight:600;
	font-family:arial;
	letter-spacing:1px;
	margin:1px 0 0 0;
}